header
{
	background-size: 111vw auto;
	background-position: top left;
}

header#my-platform
{
	background-position: 50% -200px;
}

h2
{
	border-bottom: solid 3px var(--siteDarkPurple);
	display: inline-block;
}

p
{
	margin-bottom: var(--desktopPadding);
	text-indent: calc(var(--desktopPadding));
}

ul
{
	list-style: none;
	margin: calc(var(--desktopPadding) / 3) 0 var(--desktopPadding);
}

li
{
	padding: 0 0 calc(var(--desktopPadding) / 3);
	margin-left: calc(var(--desktopPadding));
}

#navbar nav
{
	margin-right: calc((var(--desktopSideMargin) - var(--desktopPadding)) / 4);
}

#navbar img#header-logo
{
	height: 100%;
	margin-left: calc(var(--desktopSideMargin) / 3);
}

#content
{
	margin: var(--desktopVerticalSpacing) calc(var(--desktopSideMargin) / 3) 0;
}

.section-break
{
	width: calc(100% + (var(--desktopSideMargin)/2) * 2);
	left: calc(-1 * var(--desktopSideMargin) / 2);
}

.section-break div
{
	padding: calc(var(--desktopPadding) / 2);
}

.overlay-close-btn
{
	left: calc(var(--desktopSideMargin) / 2);
	padding: var(--mobilePadding) calc(var(--mobileSideMargin) * 2);
}

.overlay-content
{
	width: calc(100% - var(--desktopSideMargin));
}