*
{
	/* removed default styling */
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: white;
	border: 0;
	background: none;
}

*:focus
{
	/* removed default styling */
	outline: none;
}

html, body
{
	min-height: 100%;
}

body
{
	font-family: product-sans;
	background-color: var(--siteDarkPurple);
	color: white;
}

header
{
	z-index: -1;
	width: 100%;
	height: calc( (var(--desktopHeaderHeight) + (var(--desktopPadding) * 2)) * 4 );
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100vw auto;
	background-position: top center;
	position: relative;
	overflow: hidden;
}

header#my-platform
{
	background-position: 50% -250px;
}

footer
{
	box-shadow: var(--centeredBoxShadow);
	text-align: center;
	color: var(--siteGray);
	font-weight: lighter;
	padding: 0 0 var(--desktopVerticalSpacing) 0;
	background: var(--sitePurple);
}

footer
{
	padding: var(--desktopVerticalSpacing) var(--desktopSideMargin);
}

footer nav a
{
	display: inline-block;
	padding: 0 var(--desktopPadding);
}

footer nav a:hover
{
	text-decoration: underline;
	transform: scale(1.05);
	transition: .25s;
}

h1
{
	font-family: product-sans-bold;
	text-transform: uppercase;
	padding-bottom: calc(var(--desktopPadding) * .75);
	margin-bottom: var(--desktopPadding);
}

h2
{
	border-bottom: solid 3px var(--siteDarkPurple);
	display: inline-block;
}

p
{
	margin-bottom: var(--desktopPadding);
	text-indent: calc(var(--desktopPadding) * 2);
}

ul
{
	list-style: none;
	margin: calc(var(--desktopPadding) / 3) 0 var(--desktopPadding);
}

li
{
	padding: 0 0 calc(var(--desktopPadding) / 3);
	margin-left: calc(var(--desktopPadding) * 2);
}

i
{
	opacity: .85;
}

a#credit
{
	border-bottom: 1px dashed rgba(255,255,255,.25);
}

a#credit:hover
{
	border-bottom: 1px solid rgba(255,255,255,.5);
}

#current-page
{
	text-shadow: 0px 1px 1px var(--siteDarkPurple);
}

#current-page:hover
{
	color: var(--siteGray);
}

.block-center
{
	display: block;
	margin: 0 auto;
}

.move-next-down
{
	margin-bottom: var(--desktopVerticalSpacing);
}

.move-next-down-small
{
	margin-bottom: calc(var(--desktopVerticalSpacing) / 2);
}

.move-previous-up
{
	margin-top: var(--desktopVerticalSpacing);
}

.move-previous-up-small
{
	margin-top: calc(var(--desktopVerticalSpacing) / 2);
}

#navbar img#header-logo
{
	height: 100%;
	margin-left: var(--desktopSideMargin);
}

#navbar
{
	z-index: 10;
	position: absolute;
	top: calc( (var(--desktopHeaderHeight) + (var(--desktopPadding) * 2)) * 4 - (var(--desktopHeaderHeight) + var(--desktopPadding)));
	padding:  calc(var(--desktopPadding) * .5) 0;
	font-family: product-sans-bold;
	height: var(--desktopHeaderHeight);
	width: 100%;
	background-color: rgba(0,0,0,.25);
	box-shadow: var(--centeredBoxShadow);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
}

#navbar nav
{
	float: right;
	display: inline-block;
	height: 100%;
	line-height: var(--desktopHeaderHeight);
	white-space: nowrap;
	margin-right: calc(var(--desktopSideMargin) - var(--desktopPadding));
}

#navbar a
{
	font-family: product-sans;
	display: inline-block;
	font-size: 1.2em;
	height: 100%;
	padding: 0 var(--desktopPadding);
	text-transform: uppercase;
}

#navbar a:hover
{
	text-decoration: underline;
}

.sticky-header
{
	position: fixed !important;
	top: 0 !important;
}

.desktop
{
	display: initial;
	visibility: visible;
	pointer-events: auto;
	position: static;
}

.mobile
{
	display: none;
	visibility: hidden;
	pointer-events: none;
	position: fixed;
}

#content
{
	margin: var(--desktopVerticalSpacing) var(--desktopSideMargin) 0;
}

.social
{
	height: 17px;
	margin-bottom: -3px;
}

.overlay
{
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,.4);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
}

.overlay-close-btn
{
	position: absolute;
	top: var(--desktopPadding);
	left: var(--desktopSideMargin);
	font-size: 2em;
	font-family: product-sans-bold;
	padding: var(--mobilePadding) calc(var(--mobileSideMargin) * 2);
	background-color: var(--siteDarkBlue);
	z-index: 101;
	text-transform: uppercase;
	box-shadow: var(--perspectiveBoxShadow);
	text-shadow: 0px 1.5px 1px var(--siteGreen);
}

.overlay-close-btn:hover
{
	cursor: pointer;
	outline: 1px solid white;
	box-shadow: var(--innerBoxShadow), var(--perspectiveBoxShadow);
}

.overlay-content
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% - (var(--desktopSideMargin) * 2));
	height: calc(100% - (var(--desktopPadding) * 2));
	box-shadow: var(--perspectiveBoxShadow);
}

.section
{
	display: table;
	padding: var(--desktopPadding);
	height: calc(var(--desktopVerticalSpacing) * 10);
	background-color: var(--siteDarkBlue);
	box-shadow: var(--perspectiveBoxShadow);
	width: calc(100% - (var(--desktopPadding) * 2));
}

.section-image
{
	display: table-cell;
	width: 40%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	box-shadow: var(--innerBoxShadow);
	z-index: -1;  
}

.section-slideshow
{
	display: table-cell;
	width: 40%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	box-shadow: var(--innerBoxShadow);
	z-index: -1;  
	position: relative;
}

.section-slideshow > div
{
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
}


.section-text
{
	padding: var(--desktopPadding);
	box-shadow: var(--perspectiveBoxShadow);
	background: var(--sitePurple);
	display: table-cell;
	vertical-align: top;
}

.section-text h1
{
	font-size: 2.5em;
	color: white;
	border-bottom: 1px dashed var(--siteGray);
	text-align: center;
	text-shadow: 0px 1.5px 1px var(--siteGreen);
}

.section-text p
{
	font-size: 1.2em;
}

.more-btn
{
	border: 1px solid white;
	padding: var(--desktopPadding);
	text-transform: uppercase;
	font-family: product-sans-bold;
	background-color: rgba(0,0,0,.2);
	box-shadow: var(--perspectiveBoxShadow);
	text-shadow: 0px 1.5px 1px var(--siteGreen);
}

.more-btn span
{
	margin-right: calc(var(--desktopPadding) / 2);
}

.more-btn:hover span
{
	text-decoration: underline;
	text-shadow: none;
}

.more-btn:hover
{
	cursor: pointer;
	outline: 1px solid white;
	box-shadow: var(--innerBoxShadow), var(--perspectiveBoxShadow);
}

.section-break
{
	position: relative;
	display: grid;
	place-items: center;
	width: calc(100% + var(--desktopSideMargin) * 2);
	height: calc(var(--desktopVerticalSpacing) * 4);
	left: calc(-1 * var(--desktopSideMargin));
}

.section-break::before
{
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: url(../images/infographics/district6map.jpg) no-repeat fixed;
	background-size: cover;
	background-position: center center;
	filter: blur(1px) brightness(70%);
	box-shadow: var(--innerBoxShadow);
}

.section-break div
{
	position: relative;
	font-size: 2.5em;
	font-family: product-sans-bold;
	text-align: center;
	padding: var(--desktopPadding);
	text-shadow: 0px 1.5px 1px var(--siteGreen);
}