/* Hide scrollbar for mobile */
::-webkit-scrollbar { display: none; }

header
{
	height: calc( (var(--mobileHeaderHeight) + (var(--mobilePadding) * 2)) * 2.25 );
	background: url('../images/stockphotos/3.jpg') no-repeat fixed;
	background-size: 100vw auto;
}

header h1
{
	font-size: 3em;
	line-height: calc( ((var(--mobileHeaderHeight) + (var(--mobilePadding) * 2)) * 2.25) - var(--mobileHeaderHeight) - (var(--mobilePadding) * 2));
	text-shadow: 0px 0px 10px rgba(0,0,0,.75);
	letter-spacing: 0;
}

footer
{
	padding: var(--mobileVerticalSpacing)  var(--mobileSideMargin);
}

footer nav a
{
	padding: 0 var(--mobilePadding);
}

p
{
	text-indent: 0;
}

#navbar
{
	padding:  var(--mobilePadding) 0;
	font-family: product-sans-bold;
	height: var(--mobileHeaderHeight);
	width: 100%;
	background-color: var(--siteDarkBlue);
	box-shadow: var(--perspectiveBoxShadow);
	top: calc( ((var(--mobileHeaderHeight) + (var(--mobilePadding) * 2)) * 2.25) - var(--mobileHeaderHeight) - (var(--mobilePadding) * 2));
}

#navbar img#header-logo
{
	height: 100%;
	margin-left: var(--mobileSideMargin);
}

#navbar button
{
	float: right;
	display: inline-block;
	height: 100%;
	line-height: var(--mobileHeaderHeight);
	white-space: nowrap;
	margin-right: var(--mobileSideMargin);
}

#navbar button:hover img
{
	transform: scale(1.05);
	transition: .25s;
	cursor: pointer;
}

#navbar button img
{
	height: 100%;
}

.desktop
{
	display: none;
	visibility: hidden;
	pointer-events: none;
	position: fixed;
}

.mobile
{
	display: initial;
	visibility: visible;
	pointer-events: auto;
	position: static;
}

nav.mobile
{
	position: absolute;
	display: block !important;
	z-index: 10 !important;
	left: 0;
	top: calc(var(--mobileHeaderHeight) + (var(--mobilePadding *3 )));
	text-align: center;
	width: 100% !important;
	height: auto !important;
	background-color: var(--siteDarkBlue);
}

nav.mobile a
{
	display: block !important;
	width: 100% !important;
	height: var(--mobileHeaderHeight) !important;
	padding: 0 !important;
}

nav.mobile a:hover
{
	text-decoration: none !important;
	transform: none !important;
	transition: 0;
}

#content
{
	margin: var(--mobileVerticalSpacing) var(--mobileSideMargin);
}

.move-next-down
{
	margin-bottom: var(--mobileVerticalSpacing);
}

.move-next-down-small
{
	margin-bottom: calc(var(--mobileVerticalSpacing) / 2);
}

.move-previous-up
{
	margin-top: var(--mobileVerticalSpacing);
}

.move-previous-up-small
{
	margin-top: calc(var(--mobileVerticalSpacing) / 2);
}

.section
{
	padding: var(--mobilePadding);
	height: calc(var(--mobileVerticalSpacing) * 10);
	margin-bottom: var(--mobileVerticalSpacing);
}

.section-image
{
	display: block;
	width: 100%;
	height: calc(var(--mobileHeaderHeight) * 3);
}

.section-text
{
	display: block;
	padding: var(--mobilePadding);
	box-shadow: var(--mobileBoxShadow);
}

.section-text h1
{
	font-size: 1.5em;
	padding-bottom: calc(var(--desktopPadding) * .75);
}

.section-text p
{
	font-size: 1em;
	text-align: center;
}

.more-btn
{
	display: block;
	margin: 0 auto;
	padding: var(--mobilePadding);
}

.more-btn span
{
	margin-right: calc(var(--mobilePadding) / 2);
}

.section-break
{
	height: calc(100vw - (var(--mobileVerticalSpacing)*2));
	width: calc(100% + var(--mobileSideMargin) * 2);
	left: calc(-1 * var(--mobileSideMargin));
}

.section-break::before
{
	background-size: auto 100vh;
	background-position: center;
}