/* Hide scrollbar for mobile */
::-webkit-scrollbar { display: none; }

header
{
	height: calc((var(--mobileHeaderHeight) + var(--mobilePadding)) * 2.8);
	background: url('../images/stockphotos/3.jpg') no-repeat fixed;
	background-size: 100vw auto;
}

footer
{
	padding: var(--mobileVerticalSpacing)  var(--mobileSideMargin);
}

footer nav a
{
	padding: 0 var(--mobilePadding);
	margin-bottom: var(--mobileVerticalSpacing);
}

#navbar
{
	z-index: 1;
	padding:  var(--mobilePadding) 0;
	font-family: product-sans-bold;
	height: var(--mobileHeaderHeight);
	width: 100%;
	background-color: var(--siteDarkBlue);
	box-shadow: var(--perspectiveBoxShadow);
}

#navbar img#header-logo
{
	height: 100%;
	margin-left: var(--mobileSideMargin);
}

#navbar button
{
	float: right;
	display: inline-block;
	height: 100%;
	line-height: var(--mobileHeaderHeight);
	white-space: nowrap;
	margin-right: var(--mobileSideMargin);
}

#navbar button:hover img
{
	transform: scale(1.05);
	transition: .25s;
	cursor: pointer;
}

#navbar button img
{
	height: 100%;
}

.desktop
{
	display: none;
	visibility: hidden;
	pointer-events: none;
	position: fixed;
}

.mobile
{
	display: initial;
	visibility: visible;
	pointer-events: auto;
	position: static;
}

#content
{
	margin: var(--mobileVerticalSpacing) var(--mobileSideMargin);
}

.sticky-header-spacing
{
	padding-top: calc(var(--mobileHeaderHeight) + (var(--mobilePadding)*2));
}

.section
{
	padding: var(--mobilePadding);
	height: calc(var(--mobileVerticalSpacing) * 10);
	margin-bottom: var(--mobileVerticalSpacing);
}

.section-image
{
	display: block;
	width: 100%;
	height: calc(var(--mobileHeaderHeight) * 3);
}

.section-text
{
	display: block;
	padding: var(--mobilePadding);
	box-shadow: var(--mobileBoxShadow);
}

.section-text h1
{
	font-size: 2.5em;
}

.section-text p
{
	font-size: 1.2em;
}

.section-break
{
	height: calc(100vw - (var(--mobilePadding)*2));
	margin-bottom: var(--mobileVerticalSpacing);
	background-size: 100vw auto;
}

.section-break::before
{
	background-size: auto 100vh;
	background-position: center;
}